*{
    margin:0;
    padding:0;
    font-family: 'Urbanist', sans-serif;
}
body{
    background-image:url(images/body_.gif);
    overflow-x: hidden;
}

.row{
    width: 100%;
    height: 100vh;
    margin-top:10%;
}
.heading{
    font-size: 100px;
    margin-left:10%;
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes load{
    0%{transform: translateY(-150px); opacity: 0;}
    50%{ opacity: 0.5;}
    100%{ transform: translateY(10%); opacity: 1; }
    }
.row p{
    color: white;
    margin-left: 10%;
    margin-top: 1%;
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    animation-name: pload;
    animation-delay: 1s;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes pload {
    from{opacity: 0;}
    to{opacity: 1;}
}

/*
.btn{
    width: 50px;
    height: 30px;
    background:linear-gradient(to right,#fb5283 )
}
*/
.button{
    width:200px;
    height:50px;
    border: transparent;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
    padding:12px 10px;
    border-radius: 10px;
    outline: none;
    color:#fff;
    background-color: rgb(26, 26, 148);
    background:linear-gradient(to right,#fb5283 #ff3527 );
    cursor:pointer;
    margin-left: 10%;
    margin-top: 5%;
    animation-name: load;
    animation-delay: 2s;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-duration: 1s;
    border-radius: 15px;
}
 
  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: white;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: transparent;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #d6d6d6;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
    color: #106fb4;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 3.15em;
    font-weight: bold;
    color: aliceblue;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
    font-size: 25px;
  }
  
  .timeline__date {
    color: white;
    font-size: 25px;
  }
  
  .titol {
    font-style: italic;
  }
  .subheadings{
      color: white;
      font-family: 'Urbanist', sans-serif;
      margin-left: 10%;
      font-size: 60px;
  }
  .foot{
      /* position: relative; */
      width: 100%;
      height: 250px;
      text-align: center;
      background-color: transparent;
  }
  .foot h1{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 60px;
  }
  .foot p{
      font-size: 25px;
  }
  @media only screen and (max-width: 600px) {
    .heading{
      margin-left: 10px;
    }
    .row p{
      margin-left: 10px;
      margin-top: 25px;
    }
    .button{
      margin-left: 10px;
    }
    .foot{
      text-align: left;
      padding-left: 25px;
    }
  }

  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: black; 
  }
  ::-webkit-scrollbar-thumb{
    background:rgb(49, 167, 155);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background:turquoise;
  }